
html,body, .main {
 height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section, header, nav, article {
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
}

body {
 background: #cc9900 url(janeletters.jpg) no-repeat center center; 
 background-attachment: fixed;
 background-size: cover;
 font: 18px/24px "Alice", sans-serif;
 color: #ffffff;

}

h1 {
color: #efecec;
font-size: 40px;
line-height: 50px;
font-weight: 400
margin-top: 20px;

}

a {
color: #ffffff;
}

p {
margin: 0 0 15px 0;
}

strong {
 font-weight: 700;
 text-transform: uppercase;
}

blockquote {
display: block;
max-width: 480px; 
margin: 15px auto;
padding: 15px;
background-color: rgba(0, 0, 0, 0.4); 
color: #e1e1e1;
font-family: "Kotta One", serif;
font-size: 22px;
line-height: 28px;
}

blockquote cite {  
display: block;
font: 18px/23px "Alice", sans-serif;
font-size: 16px;
margin-top: 16px;
color: #cccccc;
text-align: center;
}

.outer {
width: 100%;
background-color: rgba(0, 0, 0, 0.8);
height: 60px;
position: fixed;
z-index: 9999;

}

.navbar {
margin: 0;
text-align: right;
}


.nav-list .has-logo img {
width:35px;
height: 60px;
}

ul.nav-list {
 margin: 0;
 padding: 0;
}

ul.nav-list li {
 display: inline-block; 
 font-weight: 500;
 list-style-type: none;
 vertical-align: middle;
 padding-right: 10px;

}

ul.nav-list li a {
display: inline-block; 
border: 1px solid #fff;
font-size: 14px;
line-height: 24px;
border-radius: 3px;
padding: 2px 15px;
text-decoration: none;
font-family: sans-serif;
}
ul.nav-list li  a:hover{
color:  #cccccc;
}

.main {
display: table;
padding-top: 80px;
width: 100%;

}

.container {
display: table-cell;
vertical-align: middle;
text-align: center;

}


/* Special */
.sub-title {
margin: 70px auto;
font-size: 20px;
line-height: 23px;

}

.btn {
display: inline-block;
padding: 8px 12px;
color: #cafaea; 
border: 1px solid #cafaea;
border-radius: 3px;
font-weight: 900;
line-height: normal;
text-decoration: none;
text-align: center;
text-transform: uppercase;
}

#more-container {
display: none;
}



.bottom-note  p{
 margin-top: 80px;
}

.bottom-note .bottom-list li {
list-style-type: none;
display: inline;
}

.bottom-note .bottom-list li  a img{
width: 35px;
height: 35px;
padding-right: 15px;
}

